@charset "UTF-8";
/*
Typical Device Breakpoints
pequenas telas: ate 600px
celulares: de 601px ate 768px
tablet: de 768px ate 992px
desktop:de 992px ate 1200px
grandes telas: acima de 1200px
*/
@media print {
* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-image: url(../imagens/icon-print.png);
}
main {
    border: 2px solid black;
}
main h1 {
    text-shadow: none;
    color: black;
}
    img#tablet {display: none;} 
    img#print {display: block;}
    img#phone {display: none;}
    img#tv {display: none;}
    img#pc {display: none;}
}

main::after {
    content: 'Essa impressao foi feita pelo site www.cursoemvideo.com';
    text-decoration: overline;
}

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
     }
    img#tablet {display: block;} 
    img#print {display: none;}
    img#phone {display: none;}
    img#tv {display: none;}
    img#pc {display: none;}
   
}
@media screen and (min-width:992px) and (max-width:1200px){
    body {
        background-image: url(../imagens/back-pc.jpg);
        }
        img#tablet {display: none;} 
        img#print {display: none;}
        img#phone {display: none;}
        img#tv {display: none;}
        img#pc {display: block;}
    
}
@media screen and (min-width:1200px){
    body {
        background-image: url(../imagens/back-tv.jpg);
        }
        img#tablet {display: block;} 
        img#print {display: none;}
        img#phone {display: none;}
        img#tv {display: block;}
        img#pc {display: none;}
    
}